@import '../../styles/variables.scss';

.form {
	display: flex;
	flex-direction: column;
	justify-content: end;
	gap: 25px;
	width: 370px;

	.subBtn {
		background-color: $secondary;
		color: $white;
		padding: 6px 10px;
		border: none;
		display: inline-block;
		max-width: 100px;
		cursor: pointer;
		transition: all 0.3s ease;

		&:hover {
			background-color:#ab2232;
		}
	}
}

@media (max-width: 850px) {
	.form {
		width: 100%;
		max-width: 400px;
	}
}

// @media (max-width: $mobileSmall) {
// 	.from {

// 	}
// }