@import '../../styles/variables.scss';

.card {
   padding: 40px;
   background-color: #ffffff2f;
   max-width: 400px;

   .text {
      margin: 30px 0 50px;
   }

   .link {
      margin-top: 10px;
      gap: 10px;
      display: flex;
      align-items: center;

      line-height: 1;         
   }
}

@media (max-width: $mobileSmall) {
   .card {
      padding: 20px;
      .text {
         margin: 10px 0 20px;
         font-size: 20px;
      }

      .link {
         gap: 5px;
         font-size: 18px;
      }
   }

}